In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import tweepy

In [3]:
data_path = '../data/'

In [5]:
train_hate = pd.read_csv(data_path + 'Train_Hate.csv')
train_hate.tweetId = train_hate.tweetId.map(lambda x: '{:.0f}'.format(x))
print(len(train_hate))
train_hate.head()

72712

               tweetId  Hate_Speech
0  1029363256492793856            0
1  1032031619283079168            0
2  1033472135245783040            0
3  1056489434386853760            0
4  1053497753219883008            0

In [6]:
train_attack = pd.read_csv(data_path + 'Train_Personal_Attack.csv')
train_attack.tweetId = train_attack.tweetId.map(lambda x: '{:.0f}'.format(x))
train_attack.head()

               tweetId  Personal_Attack
0  1033038428370292736                0
1  1029190851421863936                1
2  1032735416250707968                1
3  1040822472004665216                0
4  1029611072582549632                1

In [185]:
def lookup_tweets(df, api):
    df = df.copy()
    full_tweets = []
    tweet_count = len(df)
    tweet_IDs = df.tweetId.tolist()
    try:
        for i in range((tweet_count // 100) + 1):
            # Catch the last group if it is less than 100 tweets
            end_loc = min((i + 1) * 100, tweet_count)
            full_tweets.extend(
                api.statuses_lookup(id_=tweet_IDs[i * 100:end_loc])
            )
        return full_tweets
    except tweepy.TweepError:
        print('Something went wrong, quitting...')


CONSUMER_KEY = ""
CONSUMER_SECRET = ""
OAUTH_TOKEN = ""
OAUTH_TOKEN_SECRET = ""

auth = tweepy.OAuthHandler(CONSUMER_KEY, CONSUMER_SECRET)
auth.set_access_token(OAUTH_TOKEN, OAUTH_TOKEN_SECRET)

api = tweepy.API(auth, wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

In [194]:
train_hate_all = pd.DataFrame(lookup_tweets(train_hate, api), columns=['tweet'])
train_attack_all = pd.DataFrame(lookup_tweets(train_attack, api), columns=['tweet'])

# train_hate_all.to_csv('Train_Hate_All.csv')
# train_attack_all.to_csv('Train_Attach_All.csv')

# print(len(train_hate_all))
# print(len(train_attack_all))
train_hate_all.head()

Rate limit reached. Sleeping for: 720

                                               tweet
0  Status(_api=<tweepy.api.API object at 0x146a90...
1  Status(_api=<tweepy.api.API object at 0x146a90...
2  Status(_api=<tweepy.api.API object at 0x146a90...
3  Status(_api=<tweepy.api.API object at 0x146a90...
4  Status(_api=<tweepy.api.API object at 0x146a90...

In [195]:
train_hate_all['Hate_Speech'] = ''
for i in range(len(train_hate_all)):
    train_hate_all.at[i, 'Hate_Speech'] = train_hate[train_hate['tweetId'] == str(train_hate_all.at[i, 'tweet'].id)].Hate_Speech.iloc[0]
    train_hate_all.at[i, 'tweet'] = train_hate_all.at[i, 'tweet'].text

train_attack_all['Personal_Attack'] = ''
for i in range(len(train_attack_all)):
    train_attack_all.at[i, 'Personal_Attack'] = train_attack[train_attack['tweetId'] == str(train_attack_all.at[i, 'tweet'].id)].Personal_Attack.iloc[0]
    train_attack_all.at[i, 'tweet'] = train_attack_all.at[i, 'tweet'].text
train_hate_all.head()

                                               tweet Hate_Speech
0  @RexHuppke Ah fuck him, sounds like he'll be d...           0
1  @mariaaraujo98 @Val_Voshchevska @angelasingh24...           1
2  @GenePark @myhlee @PostBaron @mboorstein Don't...           0
3  @peterbakernyt Sanders can choke on his dandruff.           0
4  @realDonaldTrump @FoxNews Fox News aka the Tru...           0

In [196]:
train_attack_all.to_csv(data_path + 'Train_Attack_All.csv', index=False)
train_hate_all.to_csv(data_path + 'Train_Hate_All.csv', index=False)

In [197]:
print(len(train_attack_all))
print(len(train_hate_all))

14873
14873